.topnav {
  overflow: hidden;
  background-color: lightsalmon;
  display: block;
}

@media screen and (max-width: 300px) {
  .topnav a {
    float: none;
    width: 100%;
    text-align: left;
  }

  .body {
    float: left;
    width: 100%;
  }

  .column {
    float: left;
    width: 100%;
  }

  .playlist {
    float: left;
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .topnav a {
    display: flex;
    flex-wrap: wrap;
  }

  .body {
    float: left;
    width: 100%;
  }

  .column {
    display: flex;
    flex-wrap: wrap;
  }

  .playlist {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 800px) {
  .topnav a {
    display: none;
    flex-wrap: none;
  }
}

.topnav a {
  color: darkolivegreen;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

  display: inline-block;
}
.topnav a.hover {
  background-color: lightsalmon;
  color: black;
}

.topnav a.active {
  background-color: darkslategray;
  color: lightsalmon;
}

.intro {
  text-align: center;
  margin: auto;
  width: 80%;
}

.paragraph {
  background-color: black;
  margin: 20px;
  padding: 10px;
}

.center {
  display: flex;
  justify-content: center;
}

#greetings {
  font-weight: 200;
}
div {
  width: 80%;
  background-color: darkolivegreen;
  color: orange;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
table,
th,
td {
  background-color: lightpink;
  color: darkblue;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border: 1px solid;
}

#kitty {
  width: 80%;
  color: lightsalmon;
}

.row {
  display: flex;
}
.column {
  flex: 20%;
  padding: 5px;
}
